
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section script{
    <script>
        CateModel();
        let pager_brand = new Pager("table_brand", 10);
        pager_brand.init();
        pager_brand.showPageNav("pager_brand", "pageNavPosition_brand");
        pager_brand.showPage(1);
                    //Delete Modal
    </script>
    <script src="/Assets/admin/js/productCategory.js"></script>

}
<div class="details_cate">
    <div class="alert" id="alert-product-category">
    </div>
    <!---Catogory-->
    <div class="recentCate">
        <div class="cardHeader">
            <h2>Danh mục</h2>
            <input class="search_box"
                   type="text"
                   placeholder="Tìm.."
                   id="search_cate" />
            <button class="btn" id="cate_Btn" data-toggle="modal" data-target="#addProductCategoryModal">Thêm</button>
        </div>
        <div id="datatable-category">
            @{ Html.RenderAction("DataTable", "ProductCategory");}
        </div>
        
    </div>
    <!---end table cate-->
</div>

<div id="add_cate_Modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="cate_close close">&times;</span>
            <h2>Thêm phân loại</h2>
        </div>
        <div class="modal-body">
            <form action="" id="add_cate_form">
                <div class="form_container">
                    <div class="form_row">
                        <div class="form_col-25">
                            <label for="id_cate">ID_Cate:</label>
                        </div>
                        <div class="form_col-75">
                            <input type="text" id="id_cate" name="id_cate" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_col-25">
                            <label for="name_cate">Tên danh mục:</label>
                        </div>
                        <div class="form_col-75">
                            <input type="text" id="name_cate" name="name_cate" />
                        </div>
                    </div>
                    <div class="form_row">
                        <button type="button"
                                value="cancel"
                                class="btn_cancel"
                                form="form1"
                                id="cancel_add_cate">
                            Hủy
                        </button>
                        <button type="submit"
                                form="add_cate_form"
                                value="submit"
                                class="btn_submit">
                            Thêm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addProductCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm danh mục sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-create">
                <div class="form-group">
                    <label for="tb-product-category-create">Tên danh mục sản phẩm</label>
                    <input type="text" class="form-control" name="categoryName" id="tb-product-category-create">
                    @Html.ValidationMessage("categoryName", "", new { @id = "alert-product-category-create" })
                </div>
                <div class="form-group">
                    <label for="select-product-category-create">Thể loại Menu</label>
                    @Html.DropDownList("menuID", ViewBag.Menu as SelectList, new { @value = "--Chọn--", @class = "form-control", @id = "dropdown-menu-create" })
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="sumbit-create-pro-cate">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editProductCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa danh mục sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-success submit-edit-pro-cate">Lưu</button>
            </div>
            </div>
        </div>
    </div>
</div>
