
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="details_table">
    <!-- Orders table-->
    <div class="alert" id="alert-product" role="alert">
    </div>
    <div class="recent_table">
        <div class="cardHeader">
            <h2>Sản phẩm</h2>
            @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
            {
                <input class="search_box"
                       type="text"
                       placeholder="Tìm.."
                       id="search_product"
                       style="width: 40%" value="@ViewBag.Search" name="search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>

            }
            <a type="button" href="/Admin/Product/Create" class="btn" id="add_product_Btn">Thêm</a>
        </div>
        <div id="datatable-product">
            @{ Html.RenderAction("DataTable", "Product");}

        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="productDetailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chi tiết sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-detail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="manageImagesModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quản lí ảnh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">    
                <input type="hidden" id="hidden-product-id" value="">
                <div class="row">
                        <div class="col-8">
                            <input type="file" multiple="multiple" id="input-product-images" data-id="1" style="width:20rem;">
                        </div>
                        <div class="col-4 mt-2">
                            <button type="button" class="btn btn-success" id="btn-submit-images" data-id="">Tải lên</button>
                        </div>
                        <div id="modal-body-manage-images">

                        </div>
                </div>
                <div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>   