@media only screen and (min-width: 1280px) {
    .user_modal-content {
    }
}

@media only screen and (max-width: 1280px) {
    .mobile-menu {
        display: flex;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        right: 100%;
        background-color: var(--main-bg-color);
        z-index: 50;
        transition: right 0.3s ease-in-out;
    }

        .header-wrapper.active {
            right: 0;
        }

    .logo {
        font-size: 30px;
    }

    .mb-menu-close {
        display: block;
        position: absolute;
        right: 43px;
        top: 18px;
        z-index: 99;
        font-size: 25px;
    }

    .top-header {
        display: none;
    }

    .mid-header {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        height: unset;
    }

        .mid-header > * {
            margin-top: 15px;
        }

    .search {
        width: 100%;
    }

    .bottom-header {
        justify-content: flex-start;
    }

    header {
        position: fixed;
        width: 100vw;
        z-index: 99;
    }

    .main-menu {
        flex-direction: column;
        height: unset;
    }

        .main-menu a {
            padding: 10px 0;
        }

    .mega-dropdown > a > i {
        display: none;
    }

    .mega-content {
        position: relative;
        opacity: 1;
        visibility: visible;
        box-shadow: unset;
        background-color: transparent;
        padding-left: 45px;
    }

        .mega-content h3 {
            font-size: 15px;
            padding: 5px 0;
            margin: unset;
        }

        .mega-content ul > li > a {
            padding: 5px 0;
        }

        .mega-content .img-row {
            display: none;
        }

    .section {
        padding-top: 50px;
    }

    .hero {
        padding-top: 70px;
        margin-bottom: 60px;
        height: 400px;
    }

    .slide {
        flex-direction: column-reverse;
    }

        .slide > .info,
        .slide > .img {
            width: 100%;
        }

            .slide > .img > img {
                max-width: 300px;
            }

    .info-content p {
        display: none;
    }

    .info-content button {
        margin-top: unset;
    }

    .slide-next,
    .slider:hover .slide-next {
        right: 40%;
    }

    .slide-prev,
    .slider:hover .slide-prev {
        left: 40%;
    }

    .slide-next,
    .slide-prev {
        bottom: -70px;
        transform: unset;
        top: unset;
    }

    .sp-item-info {
        padding-right: 35px;
    }

    .swiper {
        height: 400px;
    }

    .filter-toggle-box {
        margin-top: 100px;
        display: block;
    }

    .filter-col {
        position: fixed;
        width: 100%;
        background-color: var(--main-bg-color);
        z-index: 98;
        left: 100%;
        height: 80vh;
        overflow-y: scroll;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: left 0.2s ease-in-out;
    }

        .filter-col.active {
            left: 0;
        }

    .pagination {
        justify-content: center;
    }

    .cart_container h2 {
        padding-top: 100px;
    }

    .checkout_title i::before {
        padding-top: 100px;
    }

    .user__container {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 750px) {
    .hero {
        height: 100px;
        margin-bottom: 60px;
        padding: 70px 0;
    }

    .form_col-25,
    .form_col-75,
    .form_col-50,
    .modal-body input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }

    .info-content h2 {
        margin: unset;
        font-size: 40px;
    }

    .promotion {
        padding-top: 45px;
    }

    .promotion-box {
        height: unset;
    }

    .swiper {
        height: 100px;
    }

    .user__container {
        margin-top: 100px;
    }

    .user__info table tr td {
        width: 100%;
    }

    .user_modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .ck_modal-content {
        width: 250px;
        font-size: 15px;
    }
}
