@using StoreDemo.Common;

<div class="mid-header container">
    <a href="/" class="logo">GearShop</a>
    @using (Html.BeginForm("Search", "Product", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
    {
        <div class="search">

            <input type="text" placeholder="Tìm kiếm" name="search" />
            <button type="submit"><i class="bx bx-search-alt"></i></button>
        </div>
    }

    <ul class="user-menu">
        @{ var session = (CustomerLogin)Session[CommonConstants.CUSTOMER_SESSION];}
        @if (session != null)
        {
            <li class="user__dropdown">
                <button style="border: none; background: transparent"
                        id="myBtn">
                    <i class="bx bx-user-circle"></i>
                </button>
                <div class="dropdown-menu">
                    <div>
                        <a href="/tai-khoan">Thông tin</a>
                    </div>
                    <div>
                        <a href="/don-hang">Đơn hàng</a>
                    </div>
                    <div>
                        <a href="/dang-xuat">Đăng xuất</a>
                    </div>
                </div>
            </li>
        }
        else
        {
            <li>
                <a href="/dang-nhap" style="border: none; background: transparent"
                   id="myBtn">
                    <i class="bx bx-user-circle">
                    </i>
                </a>
            </li>

        }
        <li>
            <a href="/vo-hang" class="cart-content">
                <i class="bx bx-cart">
                    @if (ViewBag.CartItemAmount != null)
                    {
                        <span class="cart-num">@ViewBag.CartItemAmount</span>
                    }
                </i>

            </a>
        </li>
    </ul>
</div>
