@model List<DataProvider.Framework.Menu>
<ul class="main-menu">
    <li><a href="index.html"><box-icon name='home'></box-icon></a></li>
    <!-- mega menu Lap -->
    @foreach (var item in Model)
    {
        <li class="mega-dropdown">
            <a href="/collection/@item.MetaTitle">
                @item.MenuName
                <i class="bx bxs-chevron-down"></i>
            </a>
            <div class="mega-content">
                <div class="mega-content-row">
                    <div class="col-12 col-md-4">
                        <div class="box">
                            <ul>
                                @foreach (var category in item.ProductCategories)
                                {
                                    <li>
                                        <a href="/collection/@category.MetaTitle">@category.CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }

</ul>
