
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--Card Box-->
<div class="cardBox">
    <a href="./customers.html">
        <div class="card">
            <div>
                <div class="number" id="users_number">1,540</div>
                <div class="cardName">Khách hàng</div>
            </div>

            <div class="iconBx">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </a>
    <a href="./orders.html">
        <div class="card">
            <div>
                <div class="number" id="orders_number">1,540</div>
                <div class="cardName">Đơn hàng</div>
            </div>

            <div class="iconBx">
                <i class="fas fa-cart-arrow-down"></i>
            </div>
        </div>
    </a>

    <div class="card">
        <div>
            <div class="number">23231</div>
            <div class="cardName" id="earns_number">VND</div>
        </div>
        <div class="iconBx">
            <i class="fas fa-wallet"></i>
        </div>
    </div>
</div>
<!--End Card Box-->
<!--table-->

<div class="details">
    <!-- Orders table-->
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Đơn hàng mới</h2>
            <a href="./orders.html" class="btn">Xem thêm</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>ID_Order</td>
                    <td>Tên khách hàng</td>
                    <td>Giá</td>
                    <td>Trạng thái</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>110011</td>
                    <td>abfdd</td>
                    <td>10.000.000</td>
                    <td id="order_status">
                        <span class="status red">Pending</span>
                    </td>
                </tr>
                <tr>
                    <td>110011</td>
                    <td>abfdd</td>
                    <td>10.000.000</td>
                    <td id="order_status">
                        <span class="status green">Complete</span>
                    </td>
                </tr>
                <tr>
                    <td>110011</td>
                    <td>abfdd</td>
                    <td>10.000.000</td>
                    <td id="order_status">
                        <span class="status yellow">Shipping</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--end orders table -->
    <!---Customer-->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Khách hàng mới</h2>
            <a href="./customers.html" class="btn">Xem thêm</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Tên</td>
                    <td>Số đơn hàng</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="cus_name">abfdd</td>
                    <td id="cus_order">1</td>
                </tr>
                <tr>
                    <td>abfdd</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>abfdd</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!---end table customers-->
</div>

<!--end table-->