<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="//cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="~/Assets/admin/css/root.css" rel="stylesheet" />
        <link href="~/Assets/admin/css/admin.css" rel="stylesheet" />
        <link href="~/Assets/admin/css/res.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap"
              rel="stylesheet" />
        <!--Icon-->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
              integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
              crossorigin="anonymous" />

        <title>Dashboard</title>
    </head>
    <body>

        <!------>
        <div class="contaner">
            <!---NAV--->
            @RenderPage("_SideNav.cshtml")
            <!---End NAV--->
            <!--Main-->
            <div class="main">
                <!--bar-->
                <div class="topbar">
                    <div class="toggle">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <!--end bar-->
                @RenderBody()
            </div>
            <!---End Main--->
        </div>
        <Script src="/Assets/admin/js/admin.js"></Script>
        <Script src="/Assets/admin/js/pagination.js"></Script>
        <Script src="/Assets/admin/js/product.js"></Script>
        @RenderSection("script", false);
    </body>
</html>
