@model StoreDemo.Models.Order
<form action="/CheckOut/Submit" class="row" id="ck_Form">
    <div class="custom_info col-6 col-sm-12">
        <label for="ck_name"><i class="uil uil-user"></i> Tên khách hàng</label>
        <input type="text" id="ck_name" name="FullName" placeholder="John M. Doe" required />
        <label for="ck_phone">
            <i class="uil uil-phone"></i> Số điện thoại
        </label>
        <input type="text" id="ck_phone" name="PhoneNumber" placeholder="09xxxxxxxx" required />
    </div>
    <div class="custom_address col-6 col-sm-12">
        <label for="ck_city">Tỉnh/TP</label>
        <input type="text" id="ck_city" name="Province" placeholder="Tp Hồ Chí Minh" required />
        <label for="ck_town"> Quận/Huyện</label>
        <input type="text" id="ck_town" name="District" placeholder="Quận 7" required />
        <label for="ck_city">Phường/Xã</label>
        <input type="text" id="ck_ward" name="Ward" placeholder="Tp Hồ Chí Minh" required />
        <label for="ck_add">Số nhà, đường</label>
        <input type="text" id="ck_add" name="Address" placeholder="Số 9 đường 15" required />
       
    </div>
    <button type="submit" id="ck_submit" class="ck_btn">
        Thanh toán
    </button>
</form>
