@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section clientTitle{
    Đặt hàng thành công - GearShop
}
<div class="checkout_title">
    <img style="width: 50%;" src="~/Images/order-success.svg" />
    <h2>Đặt hàng thành công</h2>
    <h4>Bấm vào <a href="/don-hang">đây</a> để vào đơn hàng của bạn</h4>
</div>    
